{% load static %}
<h2 class="blog-post-title">Software reference</h2>

<p>This section describes in detail the function of all the features and options implemented into Spot-On.</p>

<h3 id="input-formats">Input formats </h3>
<p>Spot-On accepts tracking files from the following software and raw CSV (column naming below): <a href="http://imagej.net/Getting_started_with_TrackMate">TrackMate</a> (for which a dedicated importer exists, see below), <a href="http://mosaic.mpi-cbg.de/?q=downloads/imageJ">MOSAIC suite</a>, evalSPT (a variant of MTT) and an additional custom Matlab format. Sometimes, the importer can be a little bit picky. We provide sample files for these formats so that you can potentially study them. In case you have a problematic file, do not hesitate to <a href="{% url 'SPTGUI:staticpage' 'contact' %}">contact us</a> and email us the problematic file.</p>


<h4 id="csv"> CSV (Comma-separated values)</h4>

<p> Files can be uploaded as raw CSV files. Make sure that the separator indeed is a comma (<em>,</em>). Importing from a tab-separated or semicolon-separated file will not work. The CSV file should have a header line and contain the following columns. Any other column will be ignored. The order of the columns does not matter. Note that the header naming convention is <em>case sensitive</em>. This importer assumes that tracking has been performed already and that sets of detections were assigned a numerical index (or trajectory id). </p>

<table class="table table-striped">
  <tr>
    <th>&nbsp;</th>
    <th>frame</th>
    <th>  t</th>
    <th>  trajectory</th>
    <th>  x</th>
    <th>  y</th>
  </tr>
  <tr>
    <th>Format</th>
    <td>(integer)</td>
    <td>(float)</td>
    <td>(integer)</td>
    <td>(float)</td>
    <td>(float)</td>
  </tr>
  <tr>
    <th>Description</th>
    <td> Frame number</td>
    <td> Time (in s)</td>
    <td> The trajectory id</td>
    <td> x position of the particle (in µm)</td>
    <td> y position of the particle (in µm)</td>
  </tr>

</table>


<a href="{% static 'SPTGUI/sample/standard_csv.csv' %}"
   role="button"
   class="btn btn-default">Download sample file
  <span class="glyphicon glyphicon-download"></span>
</a>

<h4 id="4dn"> 4D nucleome SPT format </h4>

<p> The <a href="https://www.4dnucleome.org/">4D nucleome consortium</a>, together with many labs across the world, agreed on a common format to share single particle tracking data. The format is mostly a tab-separated format with standardized headers and column names. A full description of the format is <a href="https://docs.google.com/document/d/1SKljQyuTNtKQOxOD5AC9ZBqZZETDXtUz1BImGZ99Z3M/edit#">available online</a>. Open-data datasets should be put online in 2018 on the <a href="http://data.4dnucleome.org/">4DN data portal</a>.</p>

<p> So far, Spot-On only supports one acquisition per file (although the 4DN format can multiplex several acquisitions in one file). Spot-On will issue an error if you try to import such multiplex 4DN file. Please use the <a href="https://tjian-darzacq-lab.gitlab.io/Split_4DN_format/">4DN splitter</a> tool to convert a multiplex file to a series of 4DN files with only one acquisition per file.</p>

<h4 id="trackmate"> TrackMate </h4>
<p>
  <a href="http://imagej.net/Getting_started_with_TrackMate">TrackMate</a> is an <a href="http://imagej.net">ImageJ</a>/<a href="http://fiji.sc">Fiji</a> plugin that can perform various types of tracking and export the traces to various file formats. Spot-On can interact with TrackMate in two manners:.</p>

<ul>
  <li>By uploading your traces directly from TrackMate, using the <a href="#trackmate-spoton">Spot-On&harr;TrackMate connector</a>.</li>
  <li>By importing either an XML file or a CSV file exported by TrackMate.</li>
</ul>

<h5 id="trackmate-spoton"><b>Spot-On&harr;TrackMate connector</b></h5>

<img src="{% static 'SPTGUI/img/icons/spoton-trackmate.png' %}"
     class="img-responsive center-block"
     style="max-width: 20%;"
     alt="Spot-On-TrackMate connector logo">

<p>
  The <em>Spot-On&harr;TrackMate</em> connector is a small TrackMate plugin that takes care of uploading the tracked datasets from TrackMate to Spot-On. It takes the form of a button that you can click at the end of the TrackMate wizard (see below).
</p>

<img src="{% static 'SPTGUI/img/tutorial/spoton-trackmate.png' %}"
     class="img-responsive center-block"
     style="max-width: 40%;"
     alt="Spot-On-TrackMate connector logo">

<p>
  The installation instructions of the Spot-On&harr;TrackMate and the plugin to download are available on Gitlab:
</p>

<ul>
  <li><a href="https://gitlab.com/tjian-darzacq-lab/Spot-On-TrackMate/tags">File download</a></li>
  <li><a href="https://gitlab.com/tjian-darzacq-lab/Spot-On-TrackMate">Installation instructions</a></li>
    
</ul>

<h5 id="trackmate-file"><b>File import</b></h5>
<div class="alert alert-info">
  <p>Note that the file has to be exported from the last panel of the wizard (clicking the "Save" button at the bottom of the window will produce a XML file that cannot be read by Spot-On). A screenshot of TrackMate's export interface is displayed below.
  </p>
</div>

<div class="alert alert-info">
  <p>
    TrackMate saves the framerate and the units of the movie in the exported XML file. However, for some reasons, this can be unproperly set. See the <a href="https://imagej.nih.gov/ij/docs/guide/146-28.html#toc-Subsection-28.4">ImageJ documentation</a> about how to set up the framerate. <em>The framerate has to be set in 'ms' (milliseconds) to be recognized by Spot-On, and the spatial unit should be 'um' or 'µm' or 'micron' (micrometers)</em>.
  </p>
  <p>
    In the .xml file exported by TrackMate, the recorded framerate is indicated in the <code>frameInterval</code> field, and the saved unit in the <code>timeUnits</code> field. You can safely manually edit those values in case they were not saved when performing the tracking.
  </p>
</div>

<img src="{% static 'SPTGUI/sample/trackmate.png' %}"
     class="img-responsive center-block"
     style="max-width: 40%;"
     alt="TrackMate export window">

<p>Again, the export can be performed by selecting either "Export tracks to a XML file" or "Export all spot statistics" followed by File > Save as. Clicking on "Save" directly in the TrackMate interface will not work.</p>


<a href="{% static 'SPTGUI/sample/TrackMate.csv' %}"
   role="button"
   class="btn btn-default">Download sample file (CSV)
  <span class="glyphicon glyphicon-download"></span>
</a>

<a href="{% static 'SPTGUI/sample/TrackMate.xml' %}"
   role="button"
   class="btn btn-default">Download sample file (XML)
  <span class="glyphicon glyphicon-download"></span>
</a>

<h4 id="utrack"> UTrack </h4>
<p><a href="http://www.utsouthwestern.edu/labs/danuser/software/#utrack_anc">u-track</a> is an Matlab software that can perform various types of tracking and export the traces to a custom Matlab format. Spot-On can import it provided that no branching was allowed in the settings. Below are some suggested parameters:</p>

<pre>
gapCloseParam.timeWindow = 1; %maximum allowed time gap (in frames) between a track segment end and a track segment start that allows linking them.
gapCloseParam.mergeSplit = 0; %1 if merging and splitting are to be considered, 2 if only merging is to be considered, 3 if only splitting is to be considered, 0 if no merging or splitting are to be considered. 
gapCloseParam.minTrackLen = 1; %minimum length of track segments from linking to be used in gap closing.
</pre>

<p>Note that if <code>gapCloseParam.mergeSplit</code> is set to 1, Spot-On will not be able to read the format and will silently fail.</p>

<p>We are very grateful to Khuloud Jaqaman (UT Southwestern) and Gaudenz Danuser (UT Southwestern) for precisions about this file format.</p>

<a href="{% static 'SPTGUI/sample/utrack.mat' %}"
   role="button"
   class="btn btn-default">Download sample file (mat)
  <span class="glyphicon glyphicon-download"></span>
</a>

<h4 id="mosaic"> MOSAIC suite </h4>

<p>
  <a href="http://mosaic.mpi-cbg.de/?q=downloads/imageJ">MOSAIC suite</a> is an <a href="http://imagej.net">ImageJ</a>/<a href="http://fiji.sc">Fiji</a> plugin that can perform tracking and export the traces as an ImageJ table. This table can be further exported to CSV. The table is displayed by clicking the "All Trajectories to table" and "Selected Trajectories to table" at the end of the wizard.
</p>

<p>
<img src="/static/SPTGUI/sample/mosaic.png"
     class="img-responsive center-block"
     style="max-width: 50%;"
     alt="MOSAIC suite export window">
</p>
<p>
  <a href="{% static 'SPTGUI/sample/MOSAIC.csv' %}"
     role="button"
     class="btn btn-default">Download sample file (XML)
    <span class="glyphicon glyphicon-download"></span>
  </a>
</p>

<h4 id="evalspt"> evalSPT </h4>
<p><code>evalSPT</code> (software mentioned in <a href="#normanno" aria-describedby="footnote-label" id="normanno-ref">Normanno et al, 2015</a>) produces a TSV format (tab-separated values), with no header, with the first columns ordered as follows. Additional columns might be present but will be ignored. An example file is provided below.
</p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
    <th>Column 4</th>
    <th>Column 5 and more</th>
  </tr>
  <tr>
    <td><code>x</code> position of the particle (in pixel)</td>
    <td><code>x</code> position of the particle (in pixel)</td>
    <td>frame number</td>
    <td>trajectory number</td>
    <td>These columns are ignored</td>
  </tr>
</table>

<a href="{% static 'SPTGUI/sample/evalSPT.txt' %}"
   role="button"
   class="btn btn-default">Download sample file
  <span class="glyphicon glyphicon-download"></span>
</a>

<h4 id="matlab"> Matlab file format </h4>
<p>Spot-On also accepts a custom Matlab file format. An example is provided below. The <code>trackedPar</code> variable is a structured array. Each element of this array corresponds to one trajectory. Each trajectory contains several fields: <code>xy</code>, <code>t</code>, <code>frame</code>. Each of these fields is a 2D-matrix with 2, 1 and 1 columns, respectively and a number of rows corresponding to the number of detections for this trajectory.</p>

<p>Note that this format (in particularx the shape of the objects) has to be followed rigorously for Spot-On to be able to import it. In particular, a \(N\times 1\) matrix is different from a \(1\times N\) matrix. </p>

<a href="{% static 'SPTGUI/sample/anders.mat' %}"
   role="button"
   class="btn btn-default">Download sample file
  <span class="glyphicon glyphicon-download"></span>
</a>

<h3 id="import-codes">Descriptors of imported datasets</h3>
When a dataset is uploaded, a column "status" is displayed, showing the state of the import. Below is the meaning of the status codes displayed:

<table class="table table-condensed">
  <tr>
    <th>Status code</th>
    <th>Meaning</th>
  </tr>
  <tr>
    <td>Uploading</td>
    <td>The dataset is being transferred to the server.</td>
  </tr>
  <tr>
    <td>Queued</td>
    <td>The dataset has been uploaded, and will be checked for import.</td>
  </tr>
  <tr>
    <td>Ok</td>
    <td>The dataset was successfully imported.</td>
  </tr>
  <tr>
    <td>Error</td>
    <td>Something went wrong with the import process, and the file could not be imported. The file has been deleted from our servers and you might want to check the file format and upload it again.</td>
  </tr>
</table>

<img src="/static/SPTGUI/img/tutorial/reference1.png"
     class="img-responsive center-block"
     style="max-width: 60%;"
     alt="Location of the 'status' column">

<div class="alert alert-info">
  <p>Note that once the dataset is marked as "ok", the jump length distribution might still be computing in the background. The content of the second tab only appears when this computation is done, which might take a few seconds.</p>
</div>

<h3 id="dataset-statistics">Dataset statistics</h3>

<p>Once a dataset has been successfully imported, several statistics are displayed and allow you to get a quick overview of the data, and spot dubious datasets or datasets that might likely need to unreliable analyses. We detail below how theses statistics are computed and what are suggested reference values.</p>

<table class="table table-condensed">
  <tr>
    <th>Statistic</th>
    <th>Meaning</th>
    <th>Why it matters?</th>
  </tr>
  <tr>
    <td>Number of traces</td>
    <td>The number of trajectories in the dataset. Trajectories can be singletons (one detection) and arbitrary long.</td>
    <td>A low number of traces will cause the jump length histograms to be noisy and limit the accuracy of model-fitting</td>
  </tr>
  <tr>
    <td>Number of frames</td>
    <td>The duration of the acquisition (in frames). This is inferred as the maximum index of the "frame" field. If you do not have detections at the end of the movie, this number can be lower than the true number of frames.</td>
    <td>This number should more or less match the number of frames for the acquisition of this dataset.</td>
  </tr>
  <tr>
    <td>Number of detections</td>
    <td>The number of particles detected.</td>
    <td>Too low a number of detections is problematic since background noise will make a bigger contribution, whereas too high may suggest tracking errors.</td>
  </tr>
  <tr>
    <td>Longest gap (frames)</td>
    <td>The maximum number of frames during which a particle disappeared before being tracked again by the tracking software.</td>
    <td>A number of gaps >2 frames is very likely to yield significant tracking errors.</td>
  </tr>
  <tr>
    <td>Number of traces with &ge; 3 detections</td>
    <td>Number of trajectories that contain three detections or more</td>
    <td>This indicates whether histograms can be populated for \(\Delta t > 1\).</td>
  </tr>
  <tr>
    <td>Number of jumps</td>
    <td>The number of tracked translocations (only \(1\Delta t\) translocations are reported)</td>
    <td>Jumps are used to build the histogram of jump lengths, so this is probably one of the most relevant metrics to evaluate the quality of the dataset.</td>
  </tr>
  <tr>
    <td>Length of trajectories (in number of frames)</td>
    <td>Provides the mean and median length of trajectories.</td>
    <td>Useful also for assessing dataset quality.</td>
  </tr>
  <tr>
    <td>Particles per frame</td>
    <td>The mean and median number particles per frame.</td>
    <td>A median number higher than one indicates the risk of tracking errors.</td>
  </tr>
  <tr>
    <td>Jump length (µm)</td>
    <td>The mean and median translocation distance</td>
    <td>In general, the mean translocation should be significantly bigger than the localization error.</td>
  </tr>
</table>

<h3 id="jld-parameters">Jump length distribution computation parameters</h3>

The empirical jump length distribution is computed according to several parameters that are detailed below.

<table class="table table-condensed">
  <tr>
    <th>Parameter</th>
    <th>Meaning</th>
  </tr>
  <tr>
    <td>Bin width (µm)</td>
    <td>how finely to do binning for PDF fitting and plotting in
units of micrometers. Generally, 0.010 μm or 10 nm is reasonable, but
if you have very small amounts of data you may want to increase it.</td>
  </tr>
  <tr>
    <td>Number of timepoints</td>
    <td>How many time points to consider. If you allow \(N\) time points, this corresponds to considering displacements with a maximal time-delay of \((N-1)\Delta t\). Generally, we do not recommend going much above 50-60 ms unless you have an a very large number of trajectories and/or very long trajectories, since otherwise, the displacement histograms at longer \(\Delta t\) tend to be undersampled.</td>
  </tr>
  <tr>
    <td>Jumps to consider</td>
    <td>The number of jumps per trajectory actually used to build the histogram. This is emppirically useful to correct for overcounting of slow-molecules not accounted for by the corrections implemented in the algorithme (for instance for undercounting due to motion-blur). Here, for each trajectory, 4 jumps (if possible) will be used to build the jump length histogram. For example, if Number of timepoints=8 and JumpsToConsider=4, a trajectory of 9 frames will contribute 4 jumps to 1dT, 4 jumps to 2 dT, …, and 2 jumps to 7 dT. This is a semi-empirical way of correcting for additional biases towards bound molecules.
      This parameter is ignored if "Use entire trajectories" is set to Yes.</td>
  </tr>
  <tr>
    <td>Use entire trajectories?</td>
    <td>If "Use entire trajectories" is set to "Yes", the previous parameter ("Jumps to consider" is being ignored. If set to "Yes", all displacements will be used from
each trajectory. If set to "No", then the number of displacements is determined by the "Jumps to consider" variable. A trajectory of \(N\) frames, will contribute \(N-1\) displacements to the \(1\Delta t\) histogram, \(N-2\) displacements to the \(2\Delta t\), histogram,  ..., \(N-k\) displacements to the \(k\Delta t\) histogram. <em>This parameter was called "Use all trajectories" in v0.11 and earlier.</em></td>
  </tr>
  <tr>
    <td>Max jump (µm)</td>
    <td>this parameter affects data-processing. For binning displacements, a maximum displacement has to be set, so this parameter should be set to a large value that should be at least as big as the largest displacement. Generally, 5.05 μm is reasonable for single-molecule tracking data in mammalian cells.</td>
  </tr>
  <tr>
    <td>dT (ms)</td>
    <td>Time delay between frames in units of milliseconds.</td>
  </tr>
</table>

<h3 id="fit-parameters">Fitting parameters</h3>

<p>It is posisble to constrain the diffusion constants and relative fractions of the model by setting the same value to the upper and lower bound of the interface.</p>

<table class="table table-condensed">
  <tr>
    <th>Parameter</th>
    <th>Meaning</th>
    <th>Why it matters?</th>
  </tr>
  <tr>
    <td>Kinetic model</td>
    <td>The number of diffusive states in the model. Spot-On supports 2- or 3-state. In most single-molecule tracking experiments of molecules that can engage
scaffolds (e.g. transcription factors, which may bind chromatin), one of these states will correspond to a bound state. In the case of Halo-CTCF in human U2OS cells, this will manifest itself as the chromatin-bound state of CTCF exhibiting a very small \(D\) for the bound state which likely corresponds to slow diffusion of
chromatin. The other states will correspond to freely diffusive states.</td>
    <td></td>
  </tr>
  <tr>
    <td>D<sub>free</sub>, D<sub>bound</sub>, D<sub>slow</sub>, D<sub>fast</sub></td>
    <td>Allowed lower and upper bound for the faster diffusion constant for the model-fitting in units of μm²/s for the free (2-state model), bound (all models), slow (3-state model) or fast (3-state model), respectively.</td>
    <td></td>
  </tr>
  <tr>
    <td>F<sub>bound</sub>, F<sub>fast</sub></td>
    <td>The range of possible values for the bound fraction (all models) and the fast-diffusing fraction (3-state model), respectively.</td>
    <td></td>
  </tr>
  <tr>
    <td>Localization error (µm)</td>
    <td>If "Fit from data" is set to "No", you can provide the localization error  with which single-molecules were localized. If "Fit from data" is set to "Yes", Spot-On will try to infer this from the model-fitting. In that latter case, you need to provide an exploration range for these values. In the datasets provided with Spot-On, the localization error was around 35 nm. If the localization error parameter is set inaccurately, this will generally show up through poor fitting of the bound state and will cause the estimation of the bound diffusion constant to be inaccurate.</td>
    <td></td>
  </tr>
  <tr>
    <td>dZ (µm)</td>
    <td>Axial observation slice in units of micrometers. This parameter will depend somewhat on signal-to-noise conditions and imaging modality. But for a typical setup (HiLo or epi illumination, HaloTag or SNAP-Tag dyes), this is likely to be around 0.7 μm. The parameters tell Spot-On how far out-of-focus a molecule can be before it fails to be detected and it is important for accurately correcting for diffusing molecules gradually moving out-of-focus and thus being undersampled at longer time-intervals. In most cases 0.7 μm is reasonable, but for details on how to measure this please see (<a href="#hansen" aria-describedby="footnote-label" id="hansen-ref"><em>Hansen et al. (2017)</em></a>.
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Perform single cell fit</td>
    <td>When set to "Yes", each single uploaded file will be analyzed and fitted separately. This is useful for assessing how much cell-to-cell variability there is and for determining whether a single outlier is biasing the results, but also very slow, since fitting merged data takes about the same amount of time as fitting a single cell.</td>
    <td></td>
  </tr>
  <tr>
    <td>Model Fit</td>
    <td>Determines whether fitting will be performed to the displacement histograms (PDF) or to the cumulative distribution function of displacements (CDF). We have performed Monte Carlo simulations and CDF-fitting is always more precise, whereas PDF-fitting tends to slightly underestimate the fraction bound and the diffusion constant, likely because PDF-fitting is more prone to binning artifacts and undersampling. Thus, for all quantitative analysis, CDF-fitting should be performed. However, displacement histograms often seem more intuitive, and for this reason Spot-On also allows PDF-fitting for making figures etc.</td>
    <td></td>
  </tr>  
  <tr>
    <td>Iterations</td>
    <td>Spot-On fits a mathematical model to the data using least-squares fitting. Since this algorithm may occasionally get trapped in local minima in parameter space, for each iteration of the fitting Spot-On generates a random initial guess
of the parameters, which differs between each iteration. Thus, increasing the "Iterations" parameter, increases the probability that the globally optimal fit will be generated, but comes at the cost of slowing down the fitting. In practice, for all single-molecule tracking data we have tested so far, the globally best fit is always obtained in the first or second iteration of fitting, so we generally recommend keeping this parameter to 2-3.</td>
    <td></td>
  </tr>
</table>

<h3> Display parameters </h3>
<p>These parameters affect how the graphs are displayed, and which features are to be plotted. It does not affect how the fits or the jump length distribution are computed. These settings are located under the graph region.</p>

<p>These parameters are only displayed when a graph has been processed. This is either done automatically after datasets have been successfully uploaded or by clicking the "Compute!" button in the "Jump length distribution parameters" box. Some of the settings only appear for specific combination of parameters.</p>

<table class="table table-condensed">
  <tr>
    <table class="table table-condensed">
  <tr>
    <th>Parameter</th>
    <th>Meaning</th>
    <th>Only displayed if...</th>
  </tr>
  <tr>
    <td>Max jump displayed (µm)</td>
    <td>The range of distances to be plotted. This parameter varies between 0 µm and "Max Jump". It allows to zoom on the origin of the plot.</td>
    <td>For any plot</td>
  </tr>
  <tr>
    <td>Display PDF/CDF	</td>
    <td>Either display the PDF or the CDF</td>
    <td>For any plot.</td>
  </tr>
  <tr>
    <td>Show pooled jump length distribution</td>
    <td>Tell whether single datasets should be displayed or if the selected datasets should be pooled together.</td>
    <td>For any plot.</td>
  </tr>
  <tr>
    <td>Displayed group</td>
    <td>The list of datasets displayed in the pooled graph</td>
    <td>Show pooled jump length distribution is set to "Yes"</td>
  </tr>  
  <tr>
    <td>Display dataset</td>
    <td>Sets the dataset to be displayed</td>
    <td>Show pooled jump length distribution is set to "No"</td>
  </tr>
  <tr>
    <td>Show pooled fit</td>
    <td>Tell whether fit for individual datasets or the fit for all the selected datasets has been computed</td>
    <td>a fit has been computed</td>
  </tr>
  <tr>
    <td>Display residuals</td>
    <td>If set to "Yes", the residual between the fit and the empirical jump length distribution is overlaid on the graph.</td>
    <td>a fit has been computed</td>
  </tr>
  <tr>
    <td>Mark for download</td>
    <td>This button allows to mark the current plot for download. When doing so, all the current settings are saved and will be available in the download section. You have the possibility to add a few annotations to the download for easier sorting.</td>
    <td>For any plot</td>
  </tr>
</table>
